:root {
  --oui-font-family: 'Inter Variable', 'SF Pro Display', -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* colors */
  --oui-color-primary: 94 106 210;
  --oui-color-primary-light: 139 149 218;
  --oui-color-primary-darken: 75 85 186;
  --oui-color-primary-contrast: 255 255 255;
  --oui-color-link: 94 106 210;
  --oui-color-link-light: 139 149 218;
  --oui-color-secondary: 247 248 248;
  --oui-color-tertiary: 138 143 152;
  --oui-color-quaternary: 230 230 230;
  --oui-color-danger: 239 68 68;
  --oui-color-danger-light: 248 113 113;
  --oui-color-danger-darken: 220 38 38;
  --oui-color-danger-contrast: 255 255 255;
  --oui-color-success: 16 185 129;
  --oui-color-success-light: 52 211 153;
  --oui-color-success-darken: 5 150 105;
  --oui-color-success-contrast: 255 255 255;
  --oui-color-warning: 245 158 11;
  --oui-color-warning-light: 251 191 36;
  --oui-color-warning-darken: 217 119 6;
  --oui-color-warning-contrast: 255 255 255;
  --oui-color-fill: 8 9 10;
  --oui-color-fill-active: 10 10 10;
  --oui-color-base-1: 247 248 248;
  --oui-color-base-2: 230 230 230;
  --oui-color-base-3: 209 209 209;
  --oui-color-base-4: 138 143 152;
  --oui-color-base-5: 115 120 130;
  --oui-color-base-6: 70 75 85;
  --oui-color-base-7: 35 37 42;
  --oui-color-base-8: 23 25 30;
  --oui-color-base-9: 10 10 10;
  --oui-color-base-10: 8 9 10;
  --oui-color-base-foreground: 247 248 248;
  --oui-color-line: 255 255 255;
  --oui-color-trading-loss: 239 68 68;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 16 185 129;
  --oui-color-trading-profit-contrast: 255 255 255;
  /* gradients */
  --oui-gradient-primary-start: 8 9 10;
  --oui-gradient-primary-end: 35 37 42;
  --oui-gradient-secondary-start: 10 10 10;
  --oui-gradient-secondary-end: 23 25 30;
  --oui-gradient-success-start: 5 150 105;
  --oui-gradient-success-end: 16 185 129;
  --oui-gradient-danger-start: 220 38 38;
  --oui-gradient-danger-end: 239 68 68;
  --oui-gradient-brand-start: 94 106 210;
  --oui-gradient-brand-end: 139 149 218;
  --oui-gradient-brand-stop-start: 0%;
  --oui-gradient-brand-stop-end: 100%;
  --oui-gradient-brand-angle: 135deg;
  --oui-gradient-warning-start: 217 119 6;
  --oui-gradient-warning-end: 245 158 11;
  --oui-gradient-neutral-start: 8 9 10;
  --oui-gradient-neutral-end: 23 25 30;
  /* rounded */
  --oui-rounded-sm: 4px;
  --oui-rounded: 6px;
  --oui-rounded-md: 8px;
  --oui-rounded-lg: 12px;
  --oui-rounded-xl: 16px;
  --oui-rounded-2xl: 24px;
  --oui-rounded-full: 9999px;
  /* spacing */
  --oui-spacing-xs: 18.75rem;
  --oui-spacing-sm: 24rem;
  --oui-spacing-md: 28rem;
  --oui-spacing-lg: 32rem;
  --oui-spacing-xl: 36rem;
}